@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?fmar0t');
  src:  url('fonts/icomoon.eot?fmar0t#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?fmar0t') format('truetype'),
    url('fonts/icomoon.woff?fmar0t') format('woff'),
    url('fonts/icomoon.svg?fmar0t#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-play3:before {
  content: "\ea1c";
}
.icon-circle-right:before {
  content: "\ea42";
}
.icon-circle-left:before {
  content: "\ea44";
}
