#Autocomplete .dropdown-menu {
  position: absolute;
  top: auto;
  z-index: 100;
  left: 14px;
  width: 502px;
  right: auto;
  display: none;
}

#Autocomplete .dropdown-item {
  cursor: pointer;
}

#Autocomplete .dropdown-menu.visible {
  display: block;
}
