.SidePanel {
  float: right;
  position: relative;
  z-index: 20;
}

.SidePanel .container {
  margin: 0;
  width: 530px;
  -webkit-transition: margin 0.5s;
  -moz-transition: margin 0.5s;
  -o-transition: margin 0.5s;
  -ms-transition: margin 0.5s;
  transition: margin 0.5s;
  -webkit-box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.06);
  box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.06);
}

.SidePanel.closed .container {
  margin-right: -515px;
}

.SidePanel .list-group-item {
  cursor: pointer;
}

.toggle-button {
  position: absolute;
  top: 500px;
  right: 100%;
  bottom: 18px;
  background: #fff;
  line-height: 50px;
  width: 40px;
  height: 50px;
  -webkit-box-shadow: -1px 0 1px rgba(0, 0, 0, 0.06);
  box-shadow: -1px 0 1px rgba(0, 0, 0, 0.06);
  -webkit-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
  color: #666;
  margin-right: -15px;
}

.icon {
  font-family: "icomoon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  position: relative;
  text-align: center;
  text-decoration: none;
}

.toggle-button .icon {
  position: absolute;
  top: 50%;
  margin-top: -8px;
  font-size: 16px;
  -webkit-transition: left 0.2s;
  -moz-transition: left 0.2s;
  -o-transition: left 0.2s;
  -ms-transition: left 0.2s;
  transition: left 0.2s;
}

.toggle-button .icon-circle-right {
  left: 7px;
}

.toggle-button .icon-circle-left {
  left: 10px;
}

.toggle-button {
  cursor: pointer;
}

@keyframes moveRight {
  from {
    left: 7px;
  }
  to {
    left: 10px;
  }
}

@keyframes moveLeft {
  from {
    left: 10px;
  }
  to {
    left: 7px;
  }
}
.toggle-button:hover > .icon {
  animation-duration: 1s;
}

.toggle-button:hover > .icon-circle-right {
  animation-name: moveRight;
}

.toggle-button:hover > .icon-circle-left {
  animation-name: moveLeft;
}
