.SwimmMap {
  position: fixed !important;
  left: 0;
  top: 57px;
  right: 530px;
  bottom: 0;
  background: #fff;
  -webkit-transition: right 0.5s;
  -moz-transition: right 0.5s;
  -o-transition: right 0.5s;
  -ms-transition: right 0.5s;
  transition: right 0.5s;
}

.SwimmMap.full-size {
  right: 15px;
}
